<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết đặt hàng</title>
    <link href="~/css/Admin/styles.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T387870TPpwcgR8m7+UP+7X/qOH3b6T1QjsDuUp25/7YkG79664NVoIPd35N72q10" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-4">
        <h2>Chi tiết đơn hàng</h2><br />

        <div class="row g-2 mb-6">
            <div class="col-md-6">
                <label for="customerName" class="form-label">Tên khách hàng</label>
                <input type="text" class="form-control" id="customerName" name="customerName" required>
            </div>
            <div class="col-md-3">
                <label for="phone" class="form-label">Số điện thoại</label>
                <input type="text" class="form-control" id="phone" name="phone" required>
            </div>
            <div class="col-md-3">
                <label for="orderDate" class="form-label">Ngày sử dụng</label>
                <input type="datetime-local" class="form-control" id="orderDate" name="orderDate" required>
            </div>
        </div>
        <br />

        <div class="row g-2 mb-3">
        <h2>Vé đã đặt</h2>
            <div class="col-md-3">
                <a style="background-color: #28a745;" class="btn btn-primary" href="#">Cập nhật vé</a>
            </div>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Mã vẽ</th>
                    <th>Tên vé</th>
                    <th>Hình ảnh</th>
                    <th>Giá</th>
                    <th>Số lượng</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>Vé trẻ em</td>
                    <td>50.000</td>
                    <td>
                        <input type="number" min="0" value="0" style="width: 100px;">
                    </td>
                    <td>img</td>
                </tr>
            </tbody>
        </table>

        <br />
        <h2>Đồ cắm trại</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Mã đồ</th>
                    <th>Tên</th>
                    <th>Hình ảnh</th>
                    <th>Giá thuê</th>
                    <th>Số lượng</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>Lều đơn</td>
                    <td>50.000/h</td>
                    <td>
                        <input type="number" min="0" value="0" style="width: 100px;">
                    </td>
                    <td>img</td>
                </tr>
            </tbody>
        </table>

        <br />
        <h2>Đồ ăn và đồ uống</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên</th>
                    <th>Hình ảnh</th>
                    <th>Giá</th>
                    <th>Yêu cầu thêm</th>
                    <th>Số lượng</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>Lều đơn</td>
                    <td>50.000/h</td>
                    <td>Không</td>
                    <td>
                        <input type="number" min="0" value="0" style="width: 100px;">
                    </td>
                    <td>img</td>
                </tr>
            </tbody>
        </table>

        <a href="/OrderManagement/Index" class="btn btn-secondary">Quay lại</a>
        <button type="submit" class="btn btn-primary" style="background-color: #28a745;">Tạo order</button>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C8fC7N6'e6OzTO+648+pGdO/d6k4l726DwN13j0xV7V7+x70863161b" crossorigin="anonymous"></script>
</body>
</html>
