<!doctype html>
<html lang="en">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Untree.co">

<meta name="description" content="" />
<meta name="keywords" content="bootstrap, bootstrap4" />


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/Common/HomeStyle.css" asp-append-version="true" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include Owl Carousel JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

<body>
	<div class="hero" id="hero">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-7">
					<div class="intro-wrap">
						<h1 class="mb-5"><span class="d-block">Hãy cùng nhau</span>trải nghiệm <span class="typed-words">vẻ đẹp tự nhiên</span></h1>
						<div class="row">
							<div class="col-12">
								<form class="form">
									<div class="row mb-2">
										<div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-4">
											<a href="/" class="show">Trải nghiệm ngay</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- Optional Right Side Content -->
			</div>
		</div>
	</div>


	<div class="services-section">
		<h2 class="heading-with-line">Lợi ích khi trải nghiệm dịch vụ</h2>
		<p class="description">
			Khi đến với Sông Quê Green Garden, bạn sẽ được tận hưởng nhiều tiện ích tuyệt vời
			như khuôn viên cắm trại rộng rãi, không gian lý tưởng cho tiệc ngoài trời và
			Thỏa sức check-in tại vườn và tận hưởng không khí trong lành.
		</p>

		<div class="services-layout">
			<div class="service-image">
				<img src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/422549821_843051381165894_4720250931053626582_n.jpg?stp=cp6_dst-jpg&_nc_cat=110&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeG4lfchv_oD4TUzlSkD6PVEUqdcjOA9Y45Sp1yM4D1jjqHevYKWsUnWCMIQn7x6iWLWIxwxqBCd93PnSE20VMaJ&_nc_ohc=h_2p6g6is30Q7kNvgFpxONY&_nc_ht=scontent.fsgn2-6.fna&_nc_gid=AHQqxWEuPxgG9K84Fs516gR&oh=00_AYDinymGNj20mRdSWA4RVbHujF0KvmIuxMi3hyALKW3Beg&oe=670B2834" alt="Service Image">
			</div>
			<div class="services-grid">
				<div class="service">
					<div class="icon">
						<i class="fas fa-gift"></i>
					</div>
					<h3>Gói Combo</h3>
					<p>Gói này bao gồm các dịch vụ giúp bạn tiết kiệm chi phí</p>
				</div>
				<div class="service">
					<div class="icon">
						<i class="fas fa-ticket-alt"></i>
					</div>
					<h3>Vé vào cổng</h3>
					<p>Vé có mức giá hợp lý, phù hợp cho mọi học sinh,gia đình</p>
				</div>
				<div class="service">
					<div class="icon">
						<i class="fas fa-utensils"></i>
					</div>
					<h3>Dụng cụ thuê</h3>
					<p>Từ lều trại, bếp nướng, đến các dụng cụ vui chơi sẽ giúp bạn có được trải nghiệm tiện lợi.</p>
				</div>
				<div class="service">
					<div class="icon">
						<i class="fas fa-phone"></i>
					</div>
					<h3>24/7 Hỗ trợ</h3>
					<p>Nhân viên luôn nhiệt tình giúp đỡ khách hàng để mọi người có trải nghiệm không quên</p>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<p style="text-align: center; color: #ffffff; font-size: 2em;margin-top:10px
">
			Những địa điểm vui chơi mới
		</p>

		<div
		<div class="content-container">

			<div class="text-block">
				<h2>Câu chuyện về vùng đất mới</h2>
				<p>Thiên nhiên là nguồn sống, mang lại sự tĩnh lặng giữa cuộc sống hiện đại. Sông Quê Green Garden tự hào là điểm đến tiên phong tại Việt Nam, nơi du khách có thể tận hưởng thiên nhiên mà vẫn đầy đủ tiện nghi. Chúng tôi cam kết mang đến không gian trong lành và dịch vụ chân thành, giúp khách hàng tìm thấy sự bình yên và kết nối với giá trị chân thật trong cuộc sống.</p>
			</div>
			<div class="image-block">
				<img src="	https://scontent.fsgn2-9.fna.fbcdn.net/v/t39.30808-6/461213356_1008434227960941_2189936050321507390_n.jpg?stp=cp6_dst-jpg&_nc_cat=106&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeHL8q-d8SrV6KALSUIM76MMpkKhfMz6kFymQqF8zPqQXPPCucQC8Rg8e-u40EcFkY17stZlXn6VNYTa86-ryWos&_nc_ohc=CgTNEvfWgMoQ7kNvgGuEzLv&_nc_ht=scontent.fsgn2-9.fna&_nc_gid=AHQUSbCyzQ95mwwrzyvvlaw&oh=00_AYCgx6ntsiEIfmiMFtaRwggcE0D7rzghpbksL-vVG7bspA&oe=670B413D" alt="Image 1">
				<img src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t39.30808-6/461296049_1008433807960983_6190922463080028394_n.jpg?stp=cp6_dst-jpg&_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEydne17L2Ar01y_5bKIceB-tp5themTGr62nm2F6ZMahopmgzOUfgVu8fadKiAeEYBqDshwzm5BaeUIJWTTzHK&_nc_ohc=O7euIr_xJBAQ7kNvgEfkOC2&_nc_ht=scontent.fsgn2-4.fna&_nc_gid=Ak7M7T8W2NG3YkFfd8b6RWm&oh=00_AYBNKB7aJxGlpXf43KLYbXLIW_yAY7l5qrsKk4UImtQKsg&oe=670B4778" alt="Image 2">
			</div>
		</div>

		<div class="content-container">
			<div class="image-block">
				<img src="https://scontent.fsgn2-10.fna.fbcdn.net/v/t39.30808-6/455057058_976164394521258_3787087813489440948_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeFGvSdOcm5EC817IeGZjC06IOfWdmwmtTYg59Z2bCa1Nndj_zQdVZKRpvFFk3XT214vJI-apCcGTg1VLyOuXNqN&_nc_ohc=2GrzBLHb5hUQ7kNvgFSluVp&_nc_ht=scontent.fsgn2-10.fna&_nc_gid=AOvxyMRXnwz1f2j5EE96T3R&oh=00_AYB41yQqN_WVr-QCwOs1vnunNTF-rxz9qowHnChNk0DBOA&oe=670B3CBF" alt="Image 3">
				<img src="https://scontent.fsgn2-11.fna.fbcdn.net/v/t39.30808-6/447226289_930121135792251_7063773427127940776_n.jpg?stp=cp6_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeHp25GsyLJcDGrMIizHODE5yN89wZusCHfI3z3Bm6wId98LcxMM4YipdkIej3Ryw9sde1VTu8MzBHtXJeH02hhA&_nc_ohc=OGbpk7RvhycQ7kNvgFut-wG&_nc_ht=scontent.fsgn2-11.fna&_nc_gid=ASHbu1p662gxUpxr6D8BCwb&oh=00_AYAWfU0guBUQ4Kg1s4t4FE_Li58muufsdN-uCNBY5eqNEg&oe=670B2FD8" alt="Image 4">
			</div>
			<div class="text-block">
				<h2>Vùng đất của sự bình đẳng</h2>
				<p>Chắc hẳn nhiều người không còn xa lạ với trường Hogwarts trong loạt phim Harry Potter, nơi mà các học sinh từ nhiều nguồn gốc khác nhau cùng học tập trong môi trường công bằng và bình đẳng. Lấy cảm hứng từ tinh thần CÔNG BẰNG và HÒA BÌNH, khi đến với trại, khách sẽ tạm quên đi những gánh nặng hay dịu vị bên ngoài, bước vào thế giới Sông Quê Green Garden. Tại đây, mọi người đều có thể thư giãn và tìm lại sự thanh thản cho bản thân!</p>
			</div>
		</div>
	</div>







		<div class="untree_co-section">
			<div class="container">
				<div class="row justify-content-center text-center mb-5">
					<div class="col-lg-6">
						<h2 class="section-title text-center mb-3">Sự kiện tiêu biểu</h2>
						<p>Những sự kiện này không chỉ mang đến không gian vui chơi mà còn là cơ hội tuyệt vời để bạn kết nối với thiên nhiên và tận hưởng những khoảnh khắc khó quên. Hãy tham gia cùng chúng tôi để trải nghiệm những sự kiện nổi bật và đầy ấn tượng.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
						<div class="media-1">
							<a href="#" class="d-block mb-3"><img src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/444957457_930120152459016_470061997242088017_n.jpg?stp=cp6_dst-jpg&_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeH9HJnFhnc9h3Z-r03P1_q5mZpALMAamtGZmkAswBqa0X1Z-dJzHU7Rm0EYXetS1Zx3JlPWOEeVAxrIf3-YYDJY&_nc_ohc=oigu4PwoSbUQ7kNvgFhqnzX&_nc_ht=scontent.fsgn2-6.fna&_nc_gid=AZfaEJIIUTQfZrg8Q24SwA9&oh=00_AYCOTjq7bWsdiVi2npQItMnIkVikQvxPNrgyrtJbSnyn8w&oe=670B3C5E" alt="Image" class="img-fluid"></a>
							<div class="d-flex align-items-center">
								<span href="#">Sự kiện họp hàng năm</span>
							</div>
						</div>
					</div>
					<div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
						<div class="media-1">
							<a href="#" class="d-block mb-3"><img src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t39.30808-6/442495520_922323556572009_4707613190626199202_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeFYg9KvUFrOX7U19Jp7HIMUPdsVlI8wlVE92xWUjzCVURtLfl9XdnVME8Qz6evaMF62a8TPb3a6vo6Z4ua7iLkf&_nc_ohc=3atssBq71LgQ7kNvgHDkLx8&_nc_ht=scontent.fsgn2-4.fna&_nc_gid=ASCnUOVtWQOh9DGMEQ5FnPM&oh=00_AYDqn-nkpUrvz0wizkzB4v3YdC7Ds7N-X0bxVX1n1m9YLQ&oe=670B56BD" alt="Image" class="img-fluid"></a>

							<div class="d-flex align-items-center">
								<span>Tổ chức họp lớp</span>
							</div>
						</div>
					</div>
					<div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
						<div class="media-1">
							<a href="#" class="d-block mb-3"><img src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/440943072_918668943604137_502440751549687921_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeFYyQH4PL-IqvL_TB8_HGsHx6DAkGfNOZ7HoMCQZ805npMcKC6HMeTy4LcpJfArPbwT2atG5cI9iiqBWdJwjgNL&_nc_ohc=IqnSV76tW84Q7kNvgGgkA3c&_nc_ht=scontent.fsgn2-7.fna&_nc_gid=AaN2U8ui2OvXjYNvy9CK6Xd&oh=00_AYAB4Pi-qs6qezzmcZXMbiTcjISjmqdymST-72NM8aVhXw&oe=670B3CDF" alt="Image" class="img-fluid"></a>
							<div class="d-flex align-items-center">
								<span>Tổ chức nhóm bạn</span>
							</div>
						</div>
					</div>
					<div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
						<div class="media-1">
							<a href="#" class="d-block mb-3"><img src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/428456888_857722919698740_746178696807593597_n.jpg?stp=cp6_dst-jpg&_nc_cat=111&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeHTRsPB-v0mBi6RgiRG3r3eqafTEUwuZUSpp9MRTC5lRI7jwA_BUUtTyjKN0zCvOirMFF_GIPzpL4xDdpIdVHCf&_nc_ohc=wgZMOI7vlF0Q7kNvgE_3Zpy&_nc_ht=scontent.fsgn2-6.fna&_nc_gid=AZziCjiA9d4RMtLMypTtTsm&oh=00_AYBy1MRfMk_GC8wuhJRHArwCxu8a8VLWjJ6vTeEtvQ3S0A&oe=670B236A" alt="Image" class="img-fluid"></a>
							<div class="d-flex align-items-center">
								<span>Tổ chức liên hoan trường họp</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>







</body>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<script>
	let currentIndex = 0;
	const images = [
		'https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-6/428423996_857933236344375_3947553262658663974_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_ohc=rWNyovvAJgEQ7kNvgF6381c&_nc_ht=scontent.fhan2-4.fna&_nc_gid=AXpG3Oa4KTY3XTKPLFXqhiG&oh=00_AYDaEy-QRhLkph0ZuxV5m25G8ye-MxJAhWyo0PdZImlyPA&oe=6701D878',
		'https://scontent.fhan20-1.fna.fbcdn.net/v/t39.30808-6/428392848_857933186344380_3373376916469888014_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=833d8c&_nc_ohc=zaUDuTPV43kQ7kNvgHeQ-YI&_nc_ht=scontent.fhan20-1.fna&_nc_gid=AzvtjfoZh0KX_1JGsTzXCLF&oh=00_AYAIAF_s_Fuz0NhZgNm-Wq_QmkqVgchiSguEU8YQ6e7Bag&oe=6701C6AE',
		'https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-6/428399436_857933263011039_6929988544909834688_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=833d8c&_nc_ohc=qg5rVTwZxooQ7kNvgH02idA&_nc_ht=scontent.fhan2-3.fna&_nc_gid=ALITj53GJ0ZqgF6Npcu_IJ9&oh=00_AYCrxM9_b3trN6_rIfKmIJ6SWfyYNQAyeRsBWY5kH_89gg&oe=6701E54F',
		'https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-6/428399436_857933263011039_6929988544909834688_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=833d8c&_nc_ohc=qg5rVTwZxooQ7kNvgH02idA&_nc_ht=scontent.fhan2-3.fna&_nc_gid=ALITj53GJ0ZqgF6Npcu_IJ9&oh=00_AYCrxM9_b3trN6_rIfKmIJ6SWfyYNQAyeRsBWY5kH_89gg&oe=6701E54F'
	];

	function changeBackgroundImage() {
		const heroElement = document.getElementById('hero');
		heroElement.style.backgroundImage = `url(${images[currentIndex]})`;
		currentIndex = (currentIndex + 1) % images.length;
	}

	// Initial background image
	changeBackgroundImage();

	// Change image every 3 seconds
	setInterval(changeBackgroundImage, 3000); // 3000ms = 3 seconds
</script>
<script>
	var slideIndex = 0;
	showSlidesAuto(); // Khởi chạy slideshow tự động

	function showSlidesAuto() {
		var i;
		var slides = document.getElementsByClassName("mySlides");
		var dots = document.getElementsByClassName("dot");

		// Ẩn tất cả các slide
		for (i = 0; i < slides.length; i++) {
			slides[i].classList.remove("active");
		}

		slideIndex++;

		if (slideIndex > slides.length) {
			slideIndex = 1;
		}

		// Hiển thị slide hiện tại
		slides[slideIndex - 1].classList.add("active");

		// Làm việc với các chấm
		for (i = 0; i < dots.length; i++) {
			dots[i].className = dots[i].className.replace(" active", "");
		}
		dots[slideIndex - 1].className += " active";

		// Gọi lại hàm này sau 1 giây để chuyển slide ngay lập tức
		setTimeout(showSlidesAuto, 5000); // Điều chỉnh thời gian chuyển đổi
	}
</script>

<script>
	var slideIndex = 0;
	showSlidesAuto1();

	function showSlidesAuto1() {
		var i;
		var slides = document.getElementsByClassName("testimonial");

		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}

		slideIndex++;
		if (slideIndex > slides.length) {
			slideIndex = 1;
		}

		slides[slideIndex - 1].style.display = "block";
		setTimeout(showSlidesAuto, 5000); // Thay đổi slide sau 5 giây
	}

	// Điều khiển thủ công
	function plusSlides(n) {
		showSlides(slideIndex += n);
	}

	function showSlides(n) {
		var i;
		var slides = document.getElementsByClassName("testimonial");

		if (n > slides.length) {
			slideIndex = 1;
		}

		if (n < 1) {
			slideIndex = slides.length;
		}

		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}

		slides[slideIndex - 1].style.display = "block";
	}

</script>

</html>
