<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Card Layout</title>
    <link rel="stylesheet" href="~/css/Common/Service.css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <section class="card-container">

        <div class="intro-wrap">
            <h1 class="mb-0">Dịch vụ tiêu biểu</h1>
            <p class="text-black">Đây là một số dịch vụ tại sông quê Green Garden.</p>
        </div>

        <div class="card">
            <img src="https://scontent.fhan20-1.fna.fbcdn.net/v/t39.30808-6/461619636_1011231157681248_1688082067468020151_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_ohc=mqUrgHTX8E4Q7kNvgFDE7XT&_nc_ht=scontent.fhan20-1.fna&_nc_gid=A4S1xV1IMOmH27N8w3PDnNT&oh=00_AYDnY1PkUWT-B7Ol763J9RcVPYOBA96MGoEi3AoWiQVVrQ&oe=67040F2D" alt="Golden Gate Bridge">
            <h3><a href="#">Đặt vé</a></h3>
            <p>Khi có vé bạn sẽ được khám phá không gian xanh mát, phong cảnh hữu tình
                và trải nghiệm trọn vẹn vẻ đẹp thiên nhiên
            </p>
        </div>
        <div class="card">
            <img src="https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-6/461202008_1008434247960939_5586181770500125979_n.jpg?stp=cp6_dst-jpg&_nc_cat=108&ccb=1-7&_nc_sid=833d8c&_nc_ohc=MTa0pVEubR4Q7kNvgFYpp3F&_nc_ht=scontent.fhan2-3.fna&_nc_gid=AgzrRIgTimXijX73E5jYdXg&oh=00_AYDXr3ciCcCFxFK2SylIv99Y1-GrK_3IHvgXMe3d-8nGUA&oe=67044349" alt="Eiffel Tower">
            <h3><a href="#">Đặt đồ ăn</a></h3>
            <p>Khi đặt đồ ăn bạn sẽ trải nghiệm các món ăn tươi ngon từ ẩm thực địa phương đến các món ăn quốc tế, 
                đảm bảo phục vụ nhanh chóng và tiện lợi.</p>
        </div>
        <div class="card">
            <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-6/457511815_990912546379776_1647784456733496933_n.jpg?stp=cp6_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_ohc=2bT6XKJIYasQ7kNvgGa2Y0g&_nc_ht=scontent.fhan2-4.fna&_nc_gid=Arq4NLsVe-9bGy4SrpbpDZp&oh=00_AYAYMDr4QqA6y_ZA8tCw5OU82RaXcfAwRnt4Gww1Wab8JA&oe=67044FDC" alt="City Reflection">
            <h3><a href="#">Dịch vụ thuê đồ dùng</a></h3>
            <p>Ở sông quê sẽ có lều trại, bếp nướng đến các vật dụng cần thiết giúp bạn thoải mái tận hưởng kỳ nghỉ vui vẻ với gia đình</p>
        </div>
        <div class="card">
            <img src="https://scontent.fhan2-5.fna.fbcdn.net/v/t39.30808-6/438036363_894255446045487_7224041491995224790_n.jpg?stp=cp6_dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=833d8c&_nc_ohc=XM_azHymcQcQ7kNvgH0-m4k&_nc_ht=scontent.fhan2-5.fna&_nc_gid=ATFcm4pFd1ygRWOjINL58Yl&oh=00_AYBMfCa6GdTmq26mhS4r_XybSewNjVvqiqTUpX82gySxGQ&oe=67040C51" alt="Island">
            <h3><a href="#">Phản hồi</a></h3>
            <p>Ở Sông Quê,chúng tôi sẽ lắng nghe,ý kiến đóng góp từ khách hàng,để không ngừng cải thiện dịch vụ giúp khách hàng trải nghiệm tốt hơn.</p>
        </div>
    </section>

    <div class="services-section">
        <h2 class="heading-with-line">Lợi ích khi trải nghiệm dịch vụ</h2>
        <p class="description">
            Khi đến với Sông Quê Green Garden, bạn sẽ được tận hưởng nhiều tiện ích tuyệt vời 
            như khuôn viên cắm trại rộng rãi, không gian lý tưởng cho tiệc ngoài trời và
             Thỏa sức check-in tại vườn và tận hưởng không khí trong lành.
        </p>
   
        <div class="services-layout">
            <div class="service-image">
                <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-6/453414505_965558728915158_5323323094684022858_n.jpg?stp=cp6_dst-jpg&_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_ohc=VX5U4yrGERgQ7kNvgHcofxk&_nc_ht=scontent.fhan2-4.fna&_nc_gid=ATq2pX4WYyBtLpxBriwnkUr&oh=00_AYCPcnru2d0mS61dJwU9q_Q3myBvrPtxeMrojr9D223IzA&oe=670542B1" alt="Service Image">
            </div>
            <div class="services-grid">
                <div class="service">
                    <div class="icon">
                        <i class="fas fa-gift"></i>
                    </div>
                    <h3>Gói Combo</h3>
                    <p>Gói này bao gồm các dịch vụ giúp bạn tiết kiệm chi phí</p>
                </div>
                <div class="service">
                    <div class="icon">
                        <i class="fas fa-ticket-alt"></i>
                    </div>
                    <h3>Vé vào cổng</h3>
                    <p>Vé có mức giá hợp lý, phù hợp cho mọi học sinh,gia đình</p>
                </div>
                <div class="service">
                    <div class="icon">
                        <i class="fas fa-utensils"></i>
                    </div>
                    <h3>Dụng cụ thuê</h3>
                    <p>Từ lều trại, bếp nướng, đến các dụng cụ vui chơi sẽ giúp bạn có được trải nghiệm tiện lợi.</p>
                </div>
                <div class="service">
                    <div class="icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <h3>24/7 Hỗ trợ</h3>
                    <p>Nhân viên luôn nhiệt tình giúp đỡ khách hàng để mọi người có trải nghiệm không quên</p>
                </div>
            </div>
        </div>
    </div>

 

</body>
</html>
