<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Card Layout</title>
    <link rel="stylesheet" href="./css/Common/Service.css">
</head>
<body>
    <section class="card-container">
        <div class="card">
            <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-6/429536517_862583299212702_931053981234376651_n.jpg?stp=cp6_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_ohc=OM9FOqy4ALEQ7kNvgHW-9ba&_nc_ht=scontent.fhan2-4.fna&_nc_gid=AA0_JlJwU_XYD-bzZtwwdG0&oh=00_AYBamEUdhlt2EBCFGhjDwblxzHGU-uqJXEpJeo1IyaOGRw&oe=6704393A" alt="Golden Gate Bridge">
            <h3>Excellence in Travel</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
        <div class="card">
            <img src="https://scontent.fhan20-1.fna.fbcdn.net/v/t39.30808-6/428409042_857931799677852_6716787427900025309_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=833d8c&_nc_ohc=rMZkrGWgyEEQ7kNvgFiltRl&_nc_ht=scontent.fhan20-1.fna&_nc_gid=AHl5-WsveZAuQP8HK9Npcqs&oh=00_AYCt8upzYOBL6w781m-LiaAactOkPn_pPLTUAbG2VUZAgQ&oe=67043475" alt="Eiffel Tower">
            <h3>Discovering Best</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
        <div class="card">
            <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-6/427446658_852240446913654_533145295789556813_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_ohc=m0sgGPPsbusQ7kNvgHV3iGZ&_nc_ht=scontent.fhan2-4.fna&_nc_gid=AR9S8rFxJrf2MRNwRuH2aKz&oh=00_AYBNt5aAP0eauSJvCh7a6xET-LvS7kNkmKjP7fWv7MKAIA&oe=670423E2" alt="City Reflection">
            <h3>A New Moments of Life</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
        <div class="card">
            <img src="https://scontent.fhan20-1.fna.fbcdn.net/v/t39.30808-6/461619636_1011231157681248_1688082067468020151_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_ohc=mqUrgHTX8E4Q7kNvgFDE7XT&_nc_ht=scontent.fhan20-1.fna&_nc_gid=A4S1xV1IMOmH27N8w3PDnNT&oh=00_AYDnY1PkUWT-B7Ol763J9RcVPYOBA96MGoEi3AoWiQVVrQ&oe=67040F2D" alt="Island">
            <h3>Joy To Your Journey</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
    </section>
</body>
</html>
