


.selection-width{
    width: 200px;
}

.search-width{
    width: 300px;
}

.h2{
    font-weight: bold;
    margin:auto;
}

/* Table styles */
.table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden; /* Ensures rounded corners work */
}

    .table th, .table td {
        padding: 15px;
        text-align: left;
        vertical-align: middle;
    }

    /* Header styles */
    .table thead th {
        background-color: #026345; /* Màu xanh lá cây đậm */
        color: white;
        font-weight: bold;
    }

    /* Row styles */
    .table tbody tr {
        transition: background-color 0.3s;
    }

        .table tbody tr:nth-child(even) {
            background-color: #e6f5e6; /* Màu xám nhạt cho các hàng chẵn */
        }

        .table tbody tr:hover {
            background-color: #b3e0b3; /* Màu nền nhạt khi hover */
        }

/* Button styles */
/*.btn {
    border-radius: 5px;
    background-color: #28a745;
}*/




