/* src/LoginStyle.css */

.login-container {
    background-color: #f5f5f5;
    color: #013927;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .logo-login-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Ensure it doesn't stretch too wide */
  }
  
  .logo {
    flex: 1;
    text-align: center;
    padding-right: 50px; /* Space between logo and form */
  }
  
  .logo svg {
    font-size: 100px;
  }
  
  .logo h2 {
    margin-top: 20px;
    font-size: 28px;
  }
  
  .logo p {
    font-size: 20px;
    color: #666;
    margin-top: 10px;
  }
  
  .login-box {
    flex: 1;
    background: white;
    color: black;
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 50px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
    margin-right: 10px;
  }
  
  .form-group label {
    font-size: 14px;
    color: #013927;
  }
  
  .form-group input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .login-btn {
    background-color: #013927;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #013927;
  }
  
  .login-options {
    margin-top: 20px;
  }
  
  .login-options span {
    display: block;
    margin: 15px 0;
    font-size: 14px;
    color: #666;
  }
  .social-login {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .social-login button {
    width: 48%;
    padding: 12px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .facebook-login {
    background-color: #3b5998;
    color: white;
  }
  
  .google-login {
    background-color: #013927;
    color: white;
  }
  
  .signup-link {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .signup-link a {
    color: #013927;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  